body{
    background-color: white;
    background: white;
}
a{
    border-radius: 5%;
}
#loader{
    height: 20%;
   left: 45%;
   position: absolute;
   top: 45%;
   width: 10%;
}

@media only screen and (max-width: 1024px) {
    #loader{
        height: 18%;
        left: 40%;
        position: absolute;
        top: 40%;
        width: 15%;
    }
  }

  @media only screen and (max-width: 411px) {
    #loader{
        height: 12%;
        left: 40%;
        position: absolute;
        top: 40%;
        width: 15%;
    }
  }